    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Handbill — One-page websites.</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a" alt="Start simple">
          <div class="container">
            <div class="carousel-caption">
              <h1>Start simple, grow bigger</h1>
              <p>Start quickly with a template, collaborate with coders and designers later. Never lose control.</p>
              <p><a class="btn btn-large btn-primary" href="#">Start now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a" alt="Easy to update">
          <div class="container">
            <div class="carousel-caption">
              <h1>Websites that are easy to update</h1>
              <p>Edit content right in your browser.</p>
              <p><a class="btn btn-large btn-primary" href="#">Try it now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a" alt="Safe collaboration">
          <div class="container">
            <div class="carousel-caption">
              <h1>Safe collaboration</h1>
              <p>You always have full control. Designers and coders need access, but never control. Handbill ensures both types of collaborators are covered.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Get a one-page website. Fast.</h2>
          <p>Create a website and get to editing and collaborating in under a minute.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Edit and collaborate</h2>
          <p>Collaborate with others, including coders with the click of a button. When they are done, you can remove access. The website owner is always in full control of website access and domain names.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Register and connect a domain name</h2>
          <p>Find out if a domain is available. Register a domain name and connect it to your site without the need to undertand any technical jargon.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Handbill is easy. <span class="text-muted">Add and edit content right in the browser.</span></h2>
          <p class="lead">Choose a template and start editing right away. Choose a domain and connect it to your website right away.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Coders love it. <span class="text-muted">Coders need full access, but don't want the headache of full control.</span></h2>
          <p class="lead">We believe great websites are made of great code. With Handbill, coders have full access via git and can run the website locally. Any changes made by website owners in the editor are fully versioned and safe too. </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Handbill, Inc. &middot;</p>
      </footer>

    </div><!-- /.container -->
